#footer {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 6.5rem;
    margin-top: 5rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.container > a {
    display: flex;
    align-items: center;
}

.container svg {
    height: 2rem;
}