@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
}

.content {
    max-width: 60%;
    margin: auto;
    padding-top: clamp(3rem, 8vw, 6rem);
}

@media screen and (max-width: 500px) {
    .content {
        max-width: 75%;
    }
}