#navbar {
    min-height: 6.5rem;
}

.site-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6.5rem;
    padding: 0 3em 0 2.33em;
}

.site-nav #logo-link {
    display: flex;
    align-items: center;
}

.site-nav #logo {
    height: 3em;
}

.site-nav .desktop {
    display: flex;
    justify-content: space-around;
    gap: 0.5em;
}

.site-nav .link {
    text-decoration: underline solid black 2px;
    color: black;

    padding: 0.5em 1em;

    border-radius: 7px;

    transition: background-color 0.125s;
    transition-timing-function: ease-in;
}

.site-nav .link:hover {
    background-color: #A9C7E6;
}

.site-nav .link:active {
    background-color: #d0d0d0;
}

.home .site-nav #home-link,
.about .site-nav #about-link,
.projects .site-nav #projects-link {
    background-color: #A9C7E6;
}

button {
    background: none;
    border: none;
    outline: none;
    color: inherit;
    font: inherit;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.site-nav .mobile {
    display: none;
    align-items: center;

    transition: display 2s;
}

.site-nav #menu-toggle {
    height: 4em;
}

@media screen and (max-width: 500px) {
    .site-nav .desktop {
        display: none;
    }

    .site-nav .mobile {
        display: flex;
    }

    .site-nav .link {
        width: 100%;
        text-align: center;
        height: 2.5em;
        background-color: white;
        border-bottom: 2px solid #f0f0f0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

#menu-popover {
    position: fixed;
    top: 6.5rem;
    left: 0;
    width: 100vw;

    border-top: 2px solid #f0f0f0;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.links-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}