<nav class="site-nav">
    <a id="logo-link" href="/">
        <img id="logo" src="/assets/WB.svg"/>
    </a>
    <div class="desktop">
        <a class="link" id="home" href="/">Home</a>
        <a class="link" id="about" href="/about/">About</a>
        <a class="link" id="projects" href="/projects/">Projects</a>
    </div>

    <button class="mobile" popovertarget="menu-popover">
        <img id="menu-toggle" src="/assets/Hamburger.svg"/>
    </button>
    <div id="menu-popover" popover>
        <div class="links-container">
            <a class="link" id="home" href="/">Home</a>
            <a class="link" id="about" href="/about/">About</a>
            <a class="link" id="projects" href="/projects/">Projects</a>
        </div>
    </div>
</nav>