* {
    box-sizing: border-box;
}

.page {
    display: grid;
    grid-template-columns:
        1fr
        min(1100px, 100%)
        1fr;

    padding-inline: clamp(1rem, 4vw, 2rem);
}

.page > * {
    grid-column: 2;
}