.markdown-body blockquote {
    border-left: .25em solid var(--accent);
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;
}

.image-grid > img {
    width: 100%;
    max-width: 300px;
    margin-inline: auto;
}

.image-caption {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.image-caption img {
    max-width: 400px;
}

.image-caption p {
    text-align: center;
}