.intro h1 {
    /* font-size: 24px;
    font-weight: 400; */
    margin-bottom: 0;
}

.intro .byline {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-bottom: 1em;
}

.intro #subtitle {
    font-size: 18;
    color: #505050;
}

.intro #hook {
    font-size: 64px;
    font-size: calc((32 / 1200) * 100vw + 18.666px);
    letter-spacing: 0.05ch;
}

.intro .heroem {
    text-decoration: underline #8FB3D9;
}

@media screen and (max-width: 1170px) {
    .intro .byline {
        display: block;
    }
}

.project-preview .preface {
    font-size: 18;
    color: #505050;
}

/* .project-preview .heading {
    font-size: 34px;
    font-weight: 400;
    margin-bottom: 1rem;
} */

#project-cards-container {
    display: flex;
    gap: 0.75em;
    row-gap: 1em;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project-card {
    min-width: 25ch;
    max-width: 40ch;

    flex-grow: 1;

    /* aspect-ratio: 4 / 3; */

    border: 3px solid #8FB3D9;
    border-radius: 10px;
}

.project-card img {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    border-bottom: 2px solid #8FB3D9;
}

.project-card .thumbnail {
    width: 100%;
    aspect-ratio: 16 / 10;
    background-size: cover;

    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    border-bottom: 3px solid #8FB3D9;
}

.project-card .description-container {
    padding: 5px;
    padding-top: 2px;
}

.project-card .description-container h2 {
    font-weight: 500;
    font-size: 24px;
}