@import "intro.css";
@import "projects.css";
@import "work.css";

section > .link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.link > a {
    text-decoration: none;
    color: black;
    border: 3px solid var(--accent);
    border-radius: 10px;
    padding: 0.75rem 2.5rem;
}

.link > a:hover {
    background-color: var(--accent);
}