#work-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
}

.work > p {
    margin-bottom: 1rem;
}

.work-card {
    display: flex;
    flex-direction: column;
    max-width: 420px;
}